
<span style="font-size:14px;">
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
    <html >
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <!-- HTTP标题信息(HTTP-EQUIV) -->
            <title>新高考-登录页</title>
            <link rel="icon" href="/static/img/tit.ico" type="image/x-icon"/>
            <link type="text/css" rel="stylesheet" href="/static/css/register.css"> <!--引入外部定义好的register.css -->
            <script type="text/javascript" src="/static/js/register.js"></script>  <!--引入外部定义好的register.js -->
    
        </head>
        <body>
            <form action="/login" method="post" onsubmit="return validateForm()"> <!-- 当触发提交事件时调用validateForm()方法  -->
                <table border="26" align="center" width="50%">
                    <caption >用户登录</caption>
                    <tr>
                        <td align="right">
                            <sup><font color="red">*</font></sup>用户名
                        </td>
                        <td><input type="text" name="username" id="username" class="input_class" onblur="checkUsername(this)" /></td>
                    </tr>
    
                    <tr>
                        <td align="right">
                            <sup><font color="red">*</font></sup>密码
                        </td>
                        <td><input type="password" name="password" id="password" class="input_class" onblur="checkPassword(this)" /></td>
                    </tr>
    
    
                    <tr>
                        <td align="center" colspan="2">  <!-- 合并两列 -->
                            <input type="submit" class="aaa" value="登录" />
                            <input type="button" class="aaa" onclick="{location.href='register.html'}" value="注册" />
                        </td>
                    </tr>
                </table>
            </form>
        </body>
    </html>
    
    </span>
    